* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

:root {
  --dark-blue: #09131d;
  --lavender: #a867d6;
}

.go-back--button {
  width: 11%;
  text-decoration: none;
  font-family: "Poppins";
  padding: 5px 10px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
          box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.go-back--button:hover {
  color: white;
  background-color: rgb(97, 91, 114);
}

.password-generator--body {
  background: #8A2387;
  background: -webkit-gradient(linear, left top, right top, from(#F27121), color-stop(#E94057), to(#8A2387));
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  background-size: 300% 300%;
  font-family: "Poppins";
  -webkit-animation: animatedBackground 10s ease infinite;
          animation: animatedBackground 10s ease infinite;
}
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes animatedBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.password-generator--body .password-generator {
  border-radius: 35px;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
          box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.password-generator--body .password-generator .password-generator--article {
  -webkit-text-stroke: 1px rgba(30, 22, 54, 0.7);
  color: transparent;
  font-size: 55px;
  font-family: "Poppins";
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 22, 54, 0.7)), to(rgba(30, 22, 54, 0.7)));
  background-image: linear-gradient(rgba(30, 22, 54, 0.7), rgba(30, 22, 54, 0.7));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-position: -590px 0;
  -webkit-animation: backcolor 9s linear infinite alternate;
          animation: backcolor 9s linear infinite alternate;
}
@-webkit-keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}
@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}
.password-generator--body .password-generator .password-generator--shown-password {
  margin-top: 40px;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  padding: 7px 12px;
}
.password-generator--body .password-generator .password-generator--password-area {
  cursor: default;
}
.password-generator--body .password-generator .password-generator--styles {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.password-generator--body .password-generator .password-generator--styles label {
  padding-right: 5px;
  color: rgba(30, 22, 54, 0.7);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.password-generator--body .password-generator .password-generator--styles label:hover {
  color: black;
}
.password-generator--body .password-generator .password-generator--length {
  margin-top: 23px;
}
.password-generator--body .password-generator .password-generator--length input {
  color: rgba(30, 22, 54, 0.7);
  font-family: "Poppins";
  padding: 2px 6px;
}
.password-generator--body .password-generator .password-generator--length input:hover, .password-generator--body .password-generator .password-generator--length input:focus {
  color: black;
}
.password-generator--body .password-generator .password-generator--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.password-generator--body .password-generator .password-generator--buttons .password-generator--generate-button,
.password-generator--body .password-generator .password-generator--buttons .password-generator--copy-button {
  padding: 10px 17px;
  margin-top: 20px;
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
  font-family: "Poppins";
  transition: all 0.4s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  color: rgba(30, 22, 54, 0.6);
  -webkit-box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
          box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  margin-right: 10px;
}
.password-generator--body .password-generator .password-generator--buttons .password-generator--generate-button:hover,
.password-generator--body .password-generator .password-generator--buttons .password-generator--copy-button:hover {
  color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
          box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

.calculator--body {
  background: #43C6AC;
  background: -webkit-gradient(linear, left top, right top, from(#191654), to(#43C6AC));
  background: linear-gradient(to right, #191654, #43C6AC);
  background-size: 300% 300%;
  -webkit-animation: animatedBackground 10s ease infinite;
          animation: animatedBackground 10s ease infinite;
}
.calculator--body .calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins";
  -webkit-box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
          box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
  background-color: rgb(27, 27, 27);
  border-radius: 18px;
  padding: 20px 30px;
}
.calculator--body .calculator .calculator--screen {
  color: white;
  height: 120px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  justify-items: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 10px;
}
.calculator--body .calculator .calculator--screen p {
  font-size: 50px;
  margin: 0;
}
.calculator--body .calculator .calculator--buttons {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "calc-ac calc-plus-minus calc-percent calc-division" "calc-seven calc-eight calc-nine calc-multiply" "calc-four calc-five calc-six calc-minus" "calc-one calc-two calc-tree calc-plus" "calc-zero calc-zero calc-dot calc-equal";
  grid-gap: 9px;
  justify-items: center;
}
.calculator--body .calculator .calculator--buttons .calc--btn {
  color: white;
  font-size: 20px;
  width: 70px;
  height: 70px;
  background: #333;
  border-radius: 100%;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calculator--body .calculator .calculator--buttons .calc--btn:hover {
  -webkit-filter: brightness(140%);
          filter: brightness(140%);
}
.calculator--body .calculator .calculator--buttons .calc--btn:active {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.calculator--body .calculator .calculator--buttons .calc-bg-orange {
  background: #a867d6;
}
.calculator--body .calculator .calculator--buttons .calc-zero {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: calc-zero;
  width: 100%;
  border-radius: 50px;
}

.analog-clock--body {
  background: #C6FFDD;
  background: -webkit-gradient(linear, left top, right top, from(#f7797d), color-stop(#FBD786), to(#C6FFDD));
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background-size: 300% 300%;
  -webkit-animation: animatedBackground 10s ease infinite;
          animation: animatedBackground 10s ease infinite;
}
.analog-clock--body .analog-clock {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--dark-blue);
  width: 320px;
  height: 320px;
  border: 7px solid var(--dark-blue);
  border-radius: 50%;
  padding: 30px;
  -webkit-box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.5), inset -4px -4px 10px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.5), inset -4px -4px 10px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.analog-clock--body .analog-clock .analog-clock--face {
  border-radius: 100%;
  background: var(--dark-blue);
  overflow: hidden;
}
.analog-clock--body .analog-clock .analog-clock--face::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.analog-clock--body .analog-clock .analog-clock--face::before, .analog-clock--body .analog-clock .analog-clock--face::after,
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking {
  content: "";
  position: absolute;
  left: 49%;
  top: 0%;
  z-index: 0;
  width: 5px;
  height: 100%;
  background: var(--lavender);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking {
  background: #bdbdcb;
  width: 3px;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking-one {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking-two {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking-tree {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking-four {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: var(--dark-blue);
  border-radius: 100%;
  z-index: 1;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner .analog-clock--hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: lawngreen;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
          transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner .analog-clock--hour-hand {
  width: 30%;
  z-index: 3;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner .analog-clock--min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
  background: white;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner .analog-clock--second-hand {
  background: #ee791a;
  width: 45%;
  height: 2px;
}

@media (max-width: 480px) {
  .go-back--button {
    width: 33%;
  }
}