* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

:root {
  --index: calc(1vw + 1vh);
  --transition-gsap: transform .75s cubic-bezier(.075, 0.5, 0, 1);
  --light-yellow: #e7e7e0;
  --dark-blue: #09131d;
  --lavender: #a867d6;
  --color-dark: #000;
  --modern-gallery-gap: .5em;
  --beauty-of-nature-gutter: 30px;
  --beauty-of-nature-side-small: 26;
  --beauty-of-nature-side-big: 36;
  --beauty-of-nature-depth: 4200px ;
}

.main-dimension--body {
  background-color: #010101;
  font-family: "Raleway", sans-serif;
  line-height: 1.55;
}
.main-dimension--body .main-header {
  position: relative;
}
.main-dimension--body .main-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../../img/header-images/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.6);
}
.main-dimension--body .main-header .layers {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.main-dimension--body .main-header .layers .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  -webkit-transition: var(--transition-gsap);
  transition: var(--transition-gsap);
}
.main-dimension--body .main-header .layers .layers--base {
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}
.main-dimension--body .main-header .layers .layers--middle {
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
  z-index: 2;
}
.main-dimension--body .main-header .layers .layers--front {
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
  z-index: 3;
}
.main-dimension--body .main-header .layers .layers--header {
  z-index: 1;
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  -webkit-transition: var(--transition-gsap);
  transition: var(--transition-gsap);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--light-yellow);
  text-shadow: 0 0 15px #9e7d35;
}
.main-dimension--body .main-header .layers .layers--header .layers--title {
  font-size: calc(var(--index) * 2.1);
  letter-spacing: calc(var(--index) / 4.5);
}
.main-dimension--body .main-header .layers .layers--header .layers--caption {
  font-size: calc(var(--index) / 1.2);
  letter-spacing: calc(var(--index) / 6.5);
  margin-top: calc(var(--index) * -0.75);
}
.main-dimension--body .main-article {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--light-yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
}
.main-dimension--body .main-article .main-article--content .main-article--title {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 3);
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / -90), 0);
          transform: translate3d(0, calc(var(--scrollTop) / -90), 0);
  will-change: transform;
  margin-top: 100px;
  z-index: 4;
}
.main-dimension--body .main-article .main-article--content .main-article--works .main-article--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / -50), 0);
          transform: translate3d(0, calc(var(--scrollTop) / -50), 0);
  will-change: transform;
}
.main-dimension--body .main-article .main-article--content .main-article--works .main-article--cards .main-article--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: var(--light-yellow);
  text-decoration: none;
  font-size: calc(var(--index) * 0.99);
  height: calc(var(--index) * 14);
  width: calc(var(--index) * 27);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px #9e7d35;
          box-shadow: 0 0 15px #9e7d35;
  margin-right: calc(var(--index) * 3);
  margin-top: calc(var(--index) * 2);
  padding: 10px 15px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.main-dimension--body .main-article .main-article--content .main-article--works .main-article--cards .main-article--card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 60px #9e7d35;
          box-shadow: 0 0 60px #9e7d35;
}
.main-dimension--body .main-article .main-article--content .main-article--works .main-article--cards .main-article--card:last-child {
  margin-right: 0;
}
.main-dimension--body .main-article .main-article--copyright {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: 0.45;
  font-size: calc(var(--index) * 0.95);
  letter-spacing: calc(var(--index) / 9);
}

.go-back--button {
  width: 11%;
  text-decoration: none;
  font-family: "Poppins";
  padding: 5px 10px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
          box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.go-back--button:hover {
  color: white;
  background-color: rgb(97, 91, 114);
}

.password-generator--body {
  background: #8A2387;
  background: -webkit-gradient(linear, left top, right top, from(#F27121), color-stop(#E94057), to(#8A2387));
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  background-size: 300% 300%;
  font-family: "Poppins";
  -webkit-animation: animatedBackground 10s ease infinite;
          animation: animatedBackground 10s ease infinite;
}
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes animatedBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.password-generator--body .password-generator {
  border-radius: 35px;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
          box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.password-generator--body .password-generator .password-generator--article {
  -webkit-text-stroke: 1px rgba(30, 22, 54, 0.7);
  color: transparent;
  font-size: 55px;
  font-family: "Poppins";
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 22, 54, 0.7)), to(rgba(30, 22, 54, 0.7)));
  background-image: linear-gradient(rgba(30, 22, 54, 0.7), rgba(30, 22, 54, 0.7));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-position: -590px 0;
  -webkit-animation: backcolor 9s linear infinite alternate;
          animation: backcolor 9s linear infinite alternate;
}
@-webkit-keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}
@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}
.password-generator--body .password-generator .password-generator--shown-password {
  margin-top: 40px;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  padding: 7px 12px;
}
.password-generator--body .password-generator .password-generator--password-area {
  cursor: default;
}
.password-generator--body .password-generator .password-generator--styles {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.password-generator--body .password-generator .password-generator--styles label {
  padding-right: 5px;
  color: rgba(30, 22, 54, 0.7);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.password-generator--body .password-generator .password-generator--styles label:hover {
  color: black;
}
.password-generator--body .password-generator .password-generator--length {
  margin-top: 23px;
}
.password-generator--body .password-generator .password-generator--length input {
  color: rgba(30, 22, 54, 0.7);
  font-family: "Poppins";
  padding: 2px 6px;
}
.password-generator--body .password-generator .password-generator--length input:hover, .password-generator--body .password-generator .password-generator--length input:focus {
  color: black;
}
.password-generator--body .password-generator .password-generator--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.password-generator--body .password-generator .password-generator--buttons .password-generator--generate-button,
.password-generator--body .password-generator .password-generator--buttons .password-generator--copy-button {
  padding: 10px 17px;
  margin-top: 20px;
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
  font-family: "Poppins";
  transition: all 0.4s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  color: rgba(30, 22, 54, 0.6);
  -webkit-box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
          box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  margin-right: 10px;
}
.password-generator--body .password-generator .password-generator--buttons .password-generator--generate-button:hover,
.password-generator--body .password-generator .password-generator--buttons .password-generator--copy-button:hover {
  color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
          box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

.calculator--body {
  background: #43C6AC;
  background: -webkit-gradient(linear, left top, right top, from(#191654), to(#43C6AC));
  background: linear-gradient(to right, #191654, #43C6AC);
  background-size: 300% 300%;
  -webkit-animation: animatedBackground 10s ease infinite;
          animation: animatedBackground 10s ease infinite;
}
.calculator--body .calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins";
  -webkit-box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
          box-shadow: 5px 5px 52px #e0e0e0, -5px -5px 52px #ffffff;
  background-color: rgb(27, 27, 27);
  border-radius: 18px;
  padding: 20px 30px;
}
.calculator--body .calculator .calculator--screen {
  color: white;
  height: 120px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  justify-items: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 10px;
}
.calculator--body .calculator .calculator--screen p {
  font-size: 50px;
  margin: 0;
}
.calculator--body .calculator .calculator--buttons {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "calc-ac calc-plus-minus calc-percent calc-division" "calc-seven calc-eight calc-nine calc-multiply" "calc-four calc-five calc-six calc-minus" "calc-one calc-two calc-tree calc-plus" "calc-zero calc-zero calc-dot calc-equal";
  grid-gap: 9px;
  justify-items: center;
}
.calculator--body .calculator .calculator--buttons .calc--btn {
  color: white;
  font-size: 20px;
  width: 70px;
  height: 70px;
  background: #333;
  border-radius: 100%;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calculator--body .calculator .calculator--buttons .calc--btn:hover {
  -webkit-filter: brightness(140%);
          filter: brightness(140%);
}
.calculator--body .calculator .calculator--buttons .calc--btn:active {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.calculator--body .calculator .calculator--buttons .calc-bg-orange {
  background: #a867d6;
}
.calculator--body .calculator .calculator--buttons .calc-zero {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: calc-zero;
  width: 100%;
  border-radius: 50px;
}

.analog-clock--body {
  background: #C6FFDD;
  background: -webkit-gradient(linear, left top, right top, from(#f7797d), color-stop(#FBD786), to(#C6FFDD));
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background-size: 300% 300%;
  -webkit-animation: animatedBackground 10s ease infinite;
          animation: animatedBackground 10s ease infinite;
}
.analog-clock--body .analog-clock {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--dark-blue);
  width: 320px;
  height: 320px;
  border: 7px solid var(--dark-blue);
  border-radius: 50%;
  padding: 30px;
  -webkit-box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.5), inset -4px -4px 10px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.5), inset -4px -4px 10px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.analog-clock--body .analog-clock .analog-clock--face {
  border-radius: 100%;
  background: var(--dark-blue);
  overflow: hidden;
}
.analog-clock--body .analog-clock .analog-clock--face::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.analog-clock--body .analog-clock .analog-clock--face::before, .analog-clock--body .analog-clock .analog-clock--face::after,
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking {
  content: "";
  position: absolute;
  left: 49%;
  top: 0%;
  z-index: 0;
  width: 5px;
  height: 100%;
  background: var(--lavender);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking {
  background: #bdbdcb;
  width: 3px;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking-one {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking-two {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking-tree {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--marking-four {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: var(--dark-blue);
  border-radius: 100%;
  z-index: 1;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner .analog-clock--hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: lawngreen;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
          transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner .analog-clock--hour-hand {
  width: 30%;
  z-index: 3;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner .analog-clock--min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
  background: white;
}
.analog-clock--body .analog-clock .analog-clock--face .analog-clock--face-inner .analog-clock--second-hand {
  background: #ee791a;
  width: 45%;
  height: 2px;
}

.modern-gallery--body {
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modern-gallery--body .modern-gallery--goback-button {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0;
}
.modern-gallery--body .modern-gallery--title {
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: calc(var(--index) / 4);
  font-size: calc(var(--index) * 2.4);
  position: absolute;
  text-align: center;
  opacity: 0.9;
}
.modern-gallery--body .modern-gallery--title span {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: calc(var(--index) * 0.8);
  margin-top: 5px;
}
.modern-gallery--body .modern-gallery {
  width: 30vw;
  -webkit-column-width: 2em;
     -moz-column-width: 2em;
          column-width: 2em;
  gap: var(--modern-gallery-gap);
  -webkit-transform: scale(8.3);
          transform: scale(8.3);
  will-change: transform;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s cubic-bezier(0.075, 1, 0.25, 1);
  transition: opacity 1s, -webkit-transform 0.5s cubic-bezier(0.075, 1, 0.25, 1);
  transition: transform 0.5s cubic-bezier(0.075, 1, 0.25, 1), opacity 1s;
  transition: transform 0.5s cubic-bezier(0.075, 1, 0.25, 1), opacity 1s, -webkit-transform 0.5s cubic-bezier(0.075, 1, 0.25, 1);
}
.modern-gallery--body .modern-gallery .gallery--item {
  margin-bottom: var(--modern-gallery-gap);
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
  will-change: transform;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.modern-gallery--body .modern-gallery .gallery--item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.modern-gallery--body .modern-gallery .gallery--item img {
  width: 100%;
  display: block;
}
@media (prefers-color-scheme: dark) {
  .modern-gallery--body .modern-gallery--body {
    background-color: var(--color-dark);
  }
  .modern-gallery--body .modern-gallery--body .modern-gallery--title {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
}

.modern-gallery--loaded .modern-gallery {
  opacity: 1;
}

.modern-gallery--loaded .modern-gallery--title span {
  opacity: 0;
}

.beauty-of-nature--body {
  background-color: var(--color-dark);
  color: white;
  font-family: "Raleway";
  font-size: calc(var(--index) * 0.8);
  font-weight: 300;
  line-height: 1.75;
  height: var(--beauty-of-nature-depth);
}
.beauty-of-nature--body h1, .beauty-of-nature--body h2, .beauty-of-nature--body h3, .beauty-of-nature--body h4 {
  font-weight: 100;
  text-transform: uppercase;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1;
}
.beauty-of-nature--body .beauty-of-nature--container {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  transition: cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content .frame-content--title {
  text-align: center;
  font-size: calc(var(--index) * 3.3);
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content .frame-media {
  position: relative;
  width: calc(var(--index) * var(--beauty-of-nature-side-small));
  height: calc(var(--index) * var(--beauty-of-nature-side-big));
  background-position: center;
  background-size: cover;
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content .frame-media--left {
  right: calc(var(--beauty-of-nature-side-small) / 2 * var(--index) + var(--beauty-of-nature-gutter));
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content .frame-media--right {
  left: calc(var(--beauty-of-nature-side-small) / 2 * var(--index) + var(--beauty-of-nature-gutter));
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content video.frame-media {
  width: calc(var(--index) * var(--beauty-of-nature-side-big));
  height: calc(var(--index) * var(--beauty-of-nature-side-small));
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content video.frame-media--right {
  left: calc(var(--beauty-of-nature-side-big) / 2 * var(--index) + var(--beauty-of-nature-gutter));
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content--text-right > * {
  position: relative;
  left: 18vw;
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content--text-right h3 {
  font-size: calc(var(--index) * 3);
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content--text-right p {
  max-width: 30vw;
  margin-top: 5vh;
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content--text-left > * {
  position: relative;
  right: 18vw;
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content--text-left h3 {
  font-size: calc(var(--index) * 3);
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .beauty-of-nature--frame .frame-content--text-left p {
  max-width: 30vw;
  margin-top: 5vh;
}
.beauty-of-nature--body .beauty-of-nature--container .beauty-of-nature--gallery .frame-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
.beauty-of-nature--body .beauty-of-nature--soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 25px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.beauty-of-nature--body .beauty-of-nature--soundbutton.paused {
  opacity: 0.25;
}

@media (max-width: 480px) {
  .go-back--button {
    width: 33%;
  }

  .main-article--cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-article--cards .main-article--card {
    margin-right: 0 !important;
    margin-top: calc(var(--index) * 4);
  }
  .main-article--cards .main-article--card:first-child {
    margin-top: 40px;
  }

  .modern-gallery--body {
    overflow: scroll;
    display: block;
    padding: var(--modern-gallery-gap);
  }
  .modern-gallery--body .modern-gallery--title {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .modern-gallery--body .modern-gallery--goback-button {
    opacity: 1;
    margin-left: 20px;
  }
}